*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
}

body{
    font-family: "Roboto Mono", Arial, Helvetica, sans-serif;
    color: white;
}

img {
    max-width: 100%;
}

header{
    min-height: 80vh;

    background-image: url("images/MCG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: space-between;
}

header nav{
    display: flex;
}

.headerIcons{
    margin: 20px;
}

main{
    background: linear-gradient(#790487, #FF008E);
}

.divisionBorder{
    width: 100%;
    height: 6px;

    background-color: white;
    border-bottom: solid 3px #FF70FF;
}

.playStoreButton{
    margin-top: 50px;
    text-align: center;
}

section{
    margin: 50px 50px 50px 50px;
}

h2{
    margin: auto;
    margin-top: 150px;
    max-width: 60%;
    text-align: center;

    font-size: 3em;
    text-transform: uppercase;
}

.cardHowToPlay{
    display: flex;
    gap: 200px;
    margin: 200px 200px 200px 200px;

    font-size:xx-large;
}

#reverseCard{
    flex-direction: row-reverse;
}

.containerCardsSpecialCube{
    display: flex;
    justify-content: space-around;

    margin-top: 150px;
}

.cardSpecialCube{
    max-width: 35%;
    flex: 1;
    text-align: center;

    padding: 20px;

    background-color: rgb(56, 180, 164);
    border-bottom: solid 40px rgb(34, 150, 134);
    border-right: solid 40px rgb(26, 133, 118);
}

.cardSpecialCube h3{
    margin-bottom: 50px;

    font-size: 2em;
    text-transform: uppercase;
}

.cardSpecialCube img{
    max-block-size: 250px;
}

.cardSpecialCube p{
    margin: auto;
    margin-top: 50px;
    max-width: 50%;
    text-align: left;
}

.divYoutubeVideo{
    margin-top: 250px;
    text-align: center;
}

.divYoutubeVideo iframe{
    width: 80%;
    border-radius: 20px;
}

article{
    margin-top: 200px;
}

.divArticleSoundtrack{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;

    margin: auto;
    max-width: 65%;
    padding: 50px;

    background-color: #ff70ff62;
    border-left: solid white 10px;
}

.divArticleSoundtrack img{
    max-block-size: 300px;
}

.divTextsSoundtrack{
    max-width: 50%;
}

.divTextsSoundtrack h3{
    font-size: 2em;
}

.divTextsSoundtrack p{
    max-width: 70%;
}

.divTextsSoundtrack button{
    margin-top: 20px;
    
    width: 300px;
    height: 75px;

    background-color: white;
    border: none;
}

.divTextsSoundtrack button > a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 75px;
    text-align: center;

    color: black;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
}

.sectionMathCubesDetails{
    margin: 0;
}

.divMathCubesDetails{
    margin-top: 200px;
    text-align: center;
}

.mathCubesDetails{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.mathCubesDetails img{
    border-radius: 36px;
}

.mathCubesDetails p{
    text-align: left;
    font-size: x-large;
    line-height: 1.6em;
}

.unityLogo{
    margin-top: 100px;
}

.divFinalMargin{
    height: 150px;
}

footer{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #6E0387;
    text-align: center;
}

footer p{
    margin: 0;
}

@media (max-width: 1500px) {
    h2{
        margin: auto;
        margin-top: 150px;
        max-width: 60%;
        text-align: center;

        font-size: 2em;
        text-transform: uppercase;
    }

    .cardHowToPlay{
        flex-direction: column;
        align-items: center;
        margin: auto;
        gap: 100px;
        margin: 200px 200px 200px 200px;

        font-size:medium;
    }

    .cardHowToPlay img{
        width: 226.5px;
        height: 504px;
    }

    #reverseCard{
        flex-direction: column;
    }

    .containerCardsSpecialCube{
        flex-direction: column;
        align-items: center;

        margin-top: 150px;
    }

    .cardSpecialCube{
        max-width: 50%;
        text-align: center;

        background-color: rgb(56, 180, 164);
        border-bottom: solid 40px rgb(34, 150, 134);
        border-right: solid 40px rgb(26, 133, 118);
    }

    #firstCardSpecialCube{
        margin-bottom: 150px;
    }

    .cardSpecialCube h3{
        margin-bottom: 50px;

        font-size: 1.5em;
        text-transform: uppercase;
    }

    .cardSpecialCube img{
        max-block-size: 100px;
        margin-bottom: 20px;
    }

    .cardSpecialCube p{
        margin: auto;
        font-size: small;
    }

    .divYoutubeVideo iframe{
        width: 80%;
        height: 400px;
        border-radius: 20px;
    }

    .divArticleSoundtrack{
        flex-direction: column-reverse;

        max-width: 65%;
        padding: 50px;

        background-color: #ff70ff62;
        border-left: solid white 10px;
    }

    .divTextsSoundtrack{
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 75%;
        text-align: center;
    }

    .divTextsSoundtrack h3{
        font-size: 2em;
    }

    .divTextsSoundtrack p{
        max-width: 75%;
        text-align: left;
        margin: auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 800px) {
    header{
        background-color: #6E0387;
        background-size:auto;
    }

    h2{
        max-width: 100%;
    }

    .cardHowToPlay{
        margin: 100px 20px;
    }

    .cardHowToPlay img{
        width: 151px;
        height: 336px;
    }

    .textCardHowToPlay{
        font-size: medium;
        width: 300px;
    }

    .cardSpecialCube{
        max-width: 100%;
        text-align: center;

        background-color: rgb(56, 180, 164);
        border-bottom: solid 40px rgb(34, 150, 134);
        border-right: solid 40px rgb(26, 133, 118);
    }

    #firstCardSpecialCube{
        margin-bottom: 150px;
    }

    .cardSpecialCube h3{
        margin-bottom: 50px;

        font-size: 1.5em;
        text-transform: uppercase;
    }

    .cardSpecialCube img{
        max-block-size: 75px;
        margin-bottom: 20px;
    }

    .cardSpecialCube p{
        max-width: 75%;
    }

    .divYoutubeVideo iframe{
        width: 80%;
        height: 250px;
        border-radius: 20px;
    }

    .divArticleSoundtrack{
        flex-direction: column-reverse;

        max-width: 65%;
        padding: 50px;

        background-color: #ff70ff62;
        border-left: solid white 10px;
    }

    .divTextsSoundtrack{
        max-width: 75%;
        text-align: center;
    }

    .divTextsSoundtrack h3{
        font-size: 1.2em;
    }

    .divTextsSoundtrack p{
        max-width: 100%;
        text-align: left;
        margin: auto;
        margin-bottom: 20px;

        font-size: small;
    }

    .mathCubesDetails img{
        width: 120px;
        height: 120px;
    }

    .mathCubesDetails p{
        font-size: medium;
    }

    .unityLogo img{
        width: 230px;
        height: 97px;
    }
}