header{
    min-height: 80vh;

    background-image: url("images/MCG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

header nav{
    display: flex;
    align-items: flex-start;
}

.headerIcons{
    margin: 20px;
}

main{
    background: linear-gradient(#790487, #FF008E);
}

.divisionBorder{
    width: 100%;
    height: 6px;
    border-bottom: solid 3px #FF70FF;
    background-color: white;
}

.playStoreButton{
    margin-top: 50px;
    text-align: center;
}